{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock%}

{% block content %}

{% if form.errors %}
<p>
    your username or password is incorrect!
</p>
{% else %}
{% endif %}
<div class="login-form">
    <img src="{% static 'img/prfvector.png' %}" alt="avatar">
    <h1>Login here</h1>
    <form >
        {{form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        <button><a href="{% url 'login' %}">Log-in</a></button> don't have an account? <a href="{% url 'sign_up' %}">signup</a>
        <p>forgotten password?<a href="{% url 'password_reset' %}"> reset</a></p>
    </form>
</div>
{% endblock %}