{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/user_list.css' %}">
{% endblock %}
{% block title %} People {% endblock %}

{% block content %}
<div id="people-list">
    {% for user in users %}
    <div class="person">
        <a href="{{ user.get_absolute_url }}">
            <img src="{% if user.profile.photo %}{{ user.profile.photo.url}}{% else %}{% static 'img/prfvector.png' %}{% endif %}" alt="" class="profile-pik-bigger">       
        </a>
        <a href="{{ user.get_absolute_url }}" class="name">{{ user.get_full_name }}</a>        
    </div>
    {% endfor %}
</div>
{% endblock %}